* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

button {
  all: unset;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
