.table {
  width: 1000px;
  margin: 20px 0 0 10px;
}

.table-body {
  width: 1000px;
  margin: 0px 0px 40px 0px;
}

.table-line {
  width: 100%;
  height: 60px;

  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.line-items {
  width: 160px;
  height: 100%;
}

.table-body p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-icon,
.delete-icon {
  width: 24px;
  height: 24px;
  gap: 12px;
}

.credit-type {
  color: #7b61ff;
  font-weight: 700;
}

.debit-type {
  color: #fa8c10;
  font-weight: 700;
}
