/* Utils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  overflow-y: scroll;
}

main {
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  border-radius: 60px 60px 0px 0px;

  gap: 50px;

  margin: -120px 0px 0px 0px;
}

button {
  all: unset;
  cursor: pointer;
}

/* Header */

.container-header {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(90.23deg, #05ede3 0.02%, #645ffb 99.63%);
}

.logo {
  margin: 40px 0 0 100px;
}

/* Filter Bar & Buttons */

.open-filters-button {
  margin: 60px 0 0 10px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  align-items: center;
  text-align: center;

  color: #000000;
}

.open-filters-button > img {
  margin: 8px 2px 8px 14px;
}

.open-filters-button > p {
  margin: 8px 14px 8px 2px;
}

.container-filters {
  width: 1000px;
  height: 210px;

  margin: 20px 0 0 10px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  align-items: center;
}

.filters-titles {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 14px;

  color: #b9b9b9;

  margin: 15px;
}

.days-of-week,
.categories {
  width: 20%;
  height: 100%;
}

.days-of-week-filters,
.categories-filters {
  width: 100%;
  height: 80%;
  margin: 0px 20px 0px 10px;

  gap: 10px;

  flex-wrap: wrap;
}

.categories-filters {
  overflow: auto;
}

.btn-filters > button {
  width: 100px;
  height: 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.btn-apply-filters {
  color: #ffffff;
  background-image: linear-gradient(264.83deg, #3a9ff1 -3.28%, #05ede3 100%);
}

.btn-clear-filters {
  background-color: #fafafa;
  color: #000000;
}

.btn-filters {
  align-self: flex-end;
  gap: 15px;
  margin: 15px 20px 0px 0px;
}

.values {
  width: 55%;
  height: 100%;
}

.filter-values {
  width: 100%;
  height: 80%;
}

.filter-values > label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 11px;

  color: #484848;
  margin: 0 0 5px 15px;
}

.filter-values > input {
  width: 85px;
  height: 20px;

  background-color: #ffffff;
  border: 1px solid #7b61ff;
  box-sizing: border-box;
  border-radius: 2px;

  margin: 5px 0px 10px 15px;
  padding: 10px 0px 10px 5px;
}

.container-chip {
  width: 80px;
  height: 20px;

  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  justify-content: space-between;
  align-items: center;

  background-color: #fafafa;
  color: #000000;
}

.active {
  background-color: #7b61ff;
  color: #ffffff;
}

.container-chip > p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  margin: 4px 0 4px 10px;
  max-width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-filter {
  margin: 4px 10px 4px 0px;
}

/* Resume */

.container-resume {
  width: 240px;
  height: 200px;

  margin: 120px 0px 0px 0px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.resume-title {
  margin: 30px 0 20px 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #2f2f2f;
}

.resume-title-out,
.resume-title-in {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;

  color: #2f2f2f;
}

.resume-title-balance {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #2f2f2f;
}

.resume-line {
  width: 170px;
  height: 17px;

  justify-content: space-between;
  align-items: center;

  margin: 0 30px 10px;
}

.in,
.out {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;

  align-items: center;
  text-align: right;
}

.in {
  color: #645ffb;
}

.out {
  color: #fa8c10;
}

.balance {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  align-items: center;
  text-align: right;

  color: #3a9ff1;
}

.btn-add {
  width: 236px;
  height: 42px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  background-image: linear-gradient(91.26deg, #fa8c10 0%, #ff57d3 97.77%);
  color: #ffffff;
  border-radius: 5px;

  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 20px 0px 0px 0px;
}

/* Transactions */

.table {
  width: 1000px;
  margin: 20px 0 0 10px;
}

.table-head {
  width: 100%;
  height: 60px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.column-title {
  width: 160px;
  height: 100%;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  justify-content: center;
  align-items: center;

  color: #000000;
}

.column-title > p {
  margin: 0 10px 0 0;
}

.table-body {
  width: 1000px;
  margin: 0px 0px 40px 0px;
}

.table-line {
  width: 100%;
  height: 60px;

  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  text-align: center;
}

.line-items {
  width: 160px;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.table-body p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-icon,
.delete-icon {
  width: 24px;
  height: 24px;
  gap: 12px;
}

.container-delete {
  position: relative;
}

.indicator {
  position: absolute;
  top: 20px;
  left: 5px;
}

.container-confirm-delete {
  height: 70px;
  width: 140px;

  position: absolute;
  z-index: 1;
  top: 30px;
  left: 5px;

  background-color: #e4f2fd;
  border-radius: 4px;

  justify-content: center;
  align-items: center;
}

.btn-actions-confirm-delete {
  width: 40px;
  height: 20px;
  border-radius: 4px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;

  color: #ffffff;
  margin: 0px 0px 8px 0px;
}

.btn-actions-confirm-delete:first-child {
  background-color: #3a9ff1;
}

.btn-actions-confirm-delete:last-child {
  margin: 0px 0px 0px 7px;
  background-color: #ff576b;
}

.container-confirm-delete > p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 12px;

  text-align: center;

  color: #000000;

  margin: 10px auto 6px;
}

.credit-type {
  color: #7b61ff;
}

.debit-type {
  color: #fa8c10;
}

/* Modal */

.backdrop {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(51, 51, 51, 0.83);

  justify-content: center;
}

.modal-container h2 {
  align-self: flex-start;
  margin: 30px 0 20px 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}

.close-icon {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
}

.modal-container {
  position: relative;
  height: 630px;
  width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #ffffff;
  align-items: center;
}

.container-buttons {
  width: 490px;
  height: 60px;
  margin: 0px 0px 20px 0px;
}

.btn-new-transaction {
  width: 50%;
  height: 100%;

  justify-content: center;
  align-items: center;

  background-color: #b9b9b9;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
}

#credit-button {
  border-radius: 10px 0px 0px 10px;
}

#debit-button {
  border-radius: 0px 10px 10px 0px;
}

.credit {
  background-image: linear-gradient(91.26deg, #05ede3 0%, #3a9ff1 97.77%);
}

.debit {
  background-image: linear-gradient(91.66deg, #fa8c10 0%, #ff576b 90.32%);
}

.btn-insert {
  height: 40px;
  width: 240px;

  border-radius: 5px;

  background-color: #645ffb;
  border-radius: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
  margin: 30px auto;
}

.labels {
  width: 485px;
  height: 90px;
  gap: 5px;
}

.labels > label {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #484848;
}

.labels > input {
  width: 485px;
  height: 50px;

  background-color: #ffffff;
  border: 1px solid #555555;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 10px;

  color: #000000;
}

/* Design */

.split {
  width: 0px;
  height: 140px;

  border: 1px solid #eaeaea;
  margin: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
